################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Dependencies
node_modules/

# Test coverage
coverage/

# Build artifacts
store/*.zip
